@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0000;
  --font-poppins: var(--font-poppins);
  --font-raleway: var(--font-raleway);
}

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-raleway: var(--font-raleway);
}

.p-section {
  @apply px-4 md:px-8 xl:px-20 pt-16;
}

.glassmorphism {
      @apply bg-white/20 backdrop-blur-xs border border-white/10 rounded-2xl;
  }

.text-border-stroke {
  color: transparent;
  -webkit-text-stroke: 4px black;
}

.text-border-stroke-white {
  color: transparent;
  -webkit-text-stroke: 4px white;
}


@media screen and (max-width: 500px) {
  .text-border-stroke {
    -webkit-text-stroke: 1px black; 
  }
  .text-border-stroke-white {
  color: transparent;
  -webkit-text-stroke: 1px white;
}
}
